.fuck{
text-align: center;
font-family: 'Koh Santepheap', cursive;
}
body{
    background-image:url(wallpaper.jpg);
    background-size: cover;
}
    
.vos{text-align: center;
}
.job{
    margin-left: 20px;

}
.io{
    text-align: center;
    font-family: 'Koh Santepheap', cursive;
}
.door{
    font-size: 27px;
    text-align: center;
}
.sto{
    text-align: center  ;
}
.bark{
    text-align: center;
}
.ssr{
    border: black;
    border-radius: 2px;
}
.for{
    font-family: 'Koh Santepheap', cursive;
text-align: center;
}
.gg{
    text-align: center;
}
.road{
text-align: center  ;
}
.light{text-align: center;}


.murka{font-family: 'Koh Santepheap', cursive;
text-align: center;
}
.six{
    text-align: center;
}
.ror{
    text-align: center;
}
.rar{font-family: 'Koh Santepheap', cursive;
    text-align: center;
}
.wra{
    text-align: center;
}
.wewewe{
    text-align: center;}
    .seven{font-family: 'Koh Santepheap', cursive;
text-align: center;

    }
    .jord{
text-align: center;
}
.school{
    text-align: center;
}
.idi{
    text-align: center;
}
.da{
    text-align: center;
}
.dark{
    text-align: center;
}
.york{
    text-align: center;
}
.eleven{
    text-align: center;
}
.container{ 
    background-color:rgba(201, 194, 197, 0.9) ;
    
}
.container-fluid{
    width: 60%;
}
.sashko{
    width: 320px;
    text-align: center;
}